<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kz.kamadi.mlearning">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".view.chapter.ChapterActivity"
            android:label="@string/chapters"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.topic.TopicsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.topic.TopicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.question.QuestionsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>